{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Snippets</h2>
<p>There's nothing to see here yet!</p>
{{end}}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Snippetbox</title>
</head>
<body>
    <head>
        <h1><a href="/">Snippetbox</a></h1>
    </head>
    <main>
        <h2>Latest Snippets</h2>
        <p>There's nothing to see here yet!</p>
    </main>
    <footer>Powered by <a href="https://golang.org/">Go</a></footer>
    
</body>
</html> -->